
body, html {
    background-color: grey;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px 0; 
}

button#duel {
    margin: auto; 
}

canvas {
    display: block;
    background: #000;
    margin: 20px auto; 
    width: 1280px; 
    height: 720px; 
}